<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
      body
      {
        background-color: cyan;
      }
    </style>
  </head>
  <body>
    

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ANJI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>HELLO NITKIANS!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<h2 style="background-color:DodgerBlue;"> Welcome To NITK Portal !</h2>
<br>
<img src="Users//anshuljoshi//aj.jpg" class="img-rounded" alt="Cinque Terre">
<br>
<div class="container-fluid"> 

<form>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="First name" >
    </div>
<br>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
<div>
  <br>
   <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Registration no">
    </div>
    </div>
    <br>
    <div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Roll no">
    </div>
  </div>
  <br>
  <div>
     <div class="col-md-3">
      <input type="text" class="form-control" placeholder="E-Mail" >
    </div>
</div>
<br>
    <div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Branch">
    </div>
  </div>
  </div>
<button type="submit" class="btn btn-primary btn-sm mt-4">Submit</button>
<button type="reset" class="btn btn-secondary btn-sm mt-4">Reset</button>
</form>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>