<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<title></title>
</head>
<style type="text/css">
 body
 {
 	background-color: skyblue;
 }	

 img
 {
 	width: 100px;
 	height: 100px;
 	margin-left:130px;
    border-radius: 50%;
 }

 span
 {
 	left: 50px;
 }
</style>
<body>
		<div class="container"><br>
		<div class="row">
			<div class="col-md-12 Text-Center">
				<h1>About Us</h1>
			</div>
		</div><br><br><br>
		<div class="row">
			<div class="col-md-6 Text-Center">
			 <span><img class="img-responsive" src="images/lucky2.jpg" alt="Avatar" style="width:150px"></span>
				<h1>Anusheel Mansingh</h1>

				
			</div>
			<div class="col-md-6 Text-Center">
				<img class="img-responsive" src="images/ANJI.jpg" alt="Avatar" style="width:150px;height: 100px;">
				<h1>Anshul Joshi</h1>
			</div>
      </div>

        <div class="row">
            <div class="col-md-6">
				<h4>INTERNATIONAL INSTITUTE OF PROFESSIONAL STUDIES</h4>
				<h3>D.A.V.V</h3>
				<h4>INDORE,MADHYA PRADESH, India</h4>
				<p>More than four years of experience directly commercial and residential interior design and reallocation projects. Imaaculate taste with an eye for the smallest detail.Proven track record of conceptualizing the clients need and developing well-designed finished products.Demonstrate exellence in conducting client interviews, and managing multiple projects simultaneously. Delivers projects on time and within budget .</p>
			</div>
			 <div class="col-md-6">
				<h4>INTERNATIONAL INSTITUTE OF PROFESSIONAL STUDIES</h4>
				<h3>D.A.V.V</h3>
				<h4>INDORE,MADHYA PRADESH, India</h4>
				<p>Creative and dedicated professional with more than five years experiences
					working in all aspects of business: Management,marketing,budget control,interior designing,inventory with a passion for sustainable business development<br>Past overseas experience working with  micro-credit lending in india.</p>
			</div>
        </div><br><br>
        <form>
<input type="button" value="Back to home..." onclick="window.location.href='index.php'" />
</form>
	</div>



</body>
</html>
